@import "tailwindcss";

@theme {
  --color-navy: #212847;
  --color-muted: #b9b9d3;
}

body {
  background-color: var(--color-navy);
  color: white;
}

html {
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}